.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  @media screen and (max-width: 842px) {
    width: 100%;
  }

  &__introduction {
    flex: 2 1 40rem;
    text-align: center;
    @media screen and (max-width: 842px) {
      height: 55vh;
    }

    p {
      padding: 5rem 10rem;
      color: $text-color;
      @media screen and (max-width: 842px) {
        padding: 5rem 3rem;
      }
    }

    h2 {
      padding: 3rem;
    }

    a {
      padding: 2rem 8rem;
      border: 3px solid black;
      margin-bottom: 4rem;
    }
  }
  &__images {
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    z-index: 1;

    &--elena {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .plant {
      max-height: 80%;
      position: absolute;
      bottom: 0;
      left: -20%;
      z-index: -1;
      transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
      animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
        plant-shake 2.5s infinite ease alternate-reverse 2s;
      transform-origin: button;
    }

    .plant2 {
      left: 40%;
    }
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
