$white: #fff;
$black: #000;

$primary-color: #414141;
$secondary-color: #906272;
$text-color: #525252;

//TYPOGRAPHY
$header1: 3rem;
$header2: 5rem;
$header3: 3.5rem;
$header4: 2.6rem;

$text: 2rem;
$big: 6rem;


